/* RESERVATION FORM  */
.court-name {
  width: 100% !important;
  text-align: center !important;
  font-weight: bold;
  font-size: 1.2rem !important;
}

/* SIGN UP FORM */

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 13rem;
}

.registration-error-message {
  height: fit-content;
  position: absolute;
  z-index: 1;
}

.create-accout {
  width: 100% !important;
  display: flex !important;
  justify-content: center;
  gap: 10px;
}

.court-details {
  display: flex;
  align-items: center;
}

.date-label {
  text-align: left !important;
}
