.header-section {
  display: flex;
  justify-content: space-between;
}

.account-info-section {
  display: flex;
  align-items: center;
}

.homepage {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.dropdowns-section {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: 2.5rem 0;
}

.dropdowns-section .rs-dropdown {
  margin: 10px;
}
.cards-section {
  margin-top: 5rem;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sport-object-name {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  height: 60px;
}

.court-preview-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.court-info {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.court-info div {
  margin-bottom: 20px;
  font-size: 15px;
}

.reserve-button-preview {
  width: 100%;
  display: flex;
  justify-content: center;
}

.start-reserve {
  width: 40%;
}

.object-preview-button {
  display: flex;
  margin: 1rem auto;
}

.logout-section {
  display: flex;
  align-items: center;
}

.logout-section span {
  margin-right: 10px;
}

.login-error-message {
  height: fit-content;
  position: absolute;
  z-index: 1;
}
